{% extends "base.html" %}

{% block title %}Заказы{% endblock %}

{% block products_info %}
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for order in client_orders %}
                    <div class="post-preview">
                        <div style="display:flex; justify-content:space-between;">
                            <h2 class="post-title">№{{ order.client_id.id }}</h2>
                            <h2 class="post-title">{{ order.order_info }}</h2>
                        </div>
                        <hr class="my-4" />
                        {% for product in order_products %}
                        {% if product.order_id.id == order.id %}
                        <a href="{% url 'market:product' id=product.prod_id_id %}">
                            <h2 class="post-title" >{{product.prod_id.product_name}}</h2>
                            <h3 class="post-subtitle">{{product.prod_id.price}}руб___________________________________________{{product.count}}шт</h3>
                        </a>
                        {% endif %}
                        {% endfor%}
                        <hr class="my-4" />
                    </div>
                    <!-- Divider-->
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">К другим товарам →</a></div>
                </div>
            </div>
{% endblock %}
