{% extends "base.html" %}

{% block title %}Techno Market{% endblock %}

{% block products_info %}
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-10">
                    <!-- Post preview-->
                        {% if user.is_authenticated %}
                            {% for item in assortiment %}
                                <div class="post-preview">
                                    <a href="{% url 'market:product_buy' product_id=item.prod_id.id market_id=user.market_id %}">
                                        <h2 class="post-title">{{ item.prod_id.product_name }}</h2>
                                        <h3 class="post-subtitle">{{ item.prod_id.price }}руб___________________________________________{{ item.count }}шт</h3>
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for item in assortiment %}
                                <div class="post-preview">
                                    <a href="{% url 'market:product' id=item.id %}">
                                        <h2 class="post-title">{{ item.product_name }}</h2>
                                        <h3 class="post-subtitle">{{ item.price }}руб</h3>
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <hr class="my-4" />
                        <!-- Pager-->
                        <div class="d-flex justify-content-space-between mb-4" style="justify-content:space-between;">
                            {% if assortiment.has_previous %}
                                <a class="btn btn-primary text-uppercase" href="?page={{ assortiment.previous_page_number }}"><На предыдущую страницу</a>
                            {% endif %}
                            <span>
                                Страница {{assortiment.number}} из {{assortiment.paginator.num_pages}}.
                            </span>
                            {% if assortiment.has_next %}
                                <a class="btn btn-primary text-uppercase" href="?page={{ assortiment.next_page_number }}">На следующую страницу></a>
                            {% endif %}
                        </div>
                        <hr class="my-4" />
                </div>
            </div>
{% endblock %}
